<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Tony's Small Room</h2>
        </header>
        <p>Hi,everyone.我是<strong>冯时</strong>,这是我的个人博客，
        <br />
        这里将记录我生活中，学习中的那些有趣的事。
        <br />
        By <a href="https://pages.github.com/">Github Pages</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="/blog.html" class="button fit scrolly">Read Now</a></li>
            </ul>
        </footer>

    </div>

</section>