<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/TonyFeng686" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100035687484003" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://github.com/fengtony686" class="icon circle fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://weibo.com/6068528244/profile?topnav=1&wvr=6" class="icon circle fa-weibo"><span class="label">Weibo</span></a></li>
        <li><a href="https://user.qzone.qq.com/2111655173" class="icon circle fa-qq"><span class="label">QQ</span></a></li>
        <li><a href="https://zhihu.com/people/hua-meng-de-xian-cao-62" class="fab fa-zhihu"><span class="label">Zhihu</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Tony Feng</li><li>Source Code: <a href="https://github.com/fengtony686/fengtony686.github.io">my respository</a></li>
    </ul>

</footer>